<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{title}}</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="import" href="polymers/elements.html" />
  <script src="js/main.js"></script>
  {{{block 'head'}}}

</head>
<body unresolved class="fullbleed layout vertical">
{{{body}}}
{{{block 'scripts'}}}
</body>
</html>
