doctype html
html
    head
        title= title
        script(src="bower_components/webcomponentsjs/webcomponents-lite.min.js")
        link(rel="import" href='vulcanized.html')
        link(rel='stylesheet', href='css/style.css')
    body(unresolved class="fullbleed layout vertical")
        block content
